<% include ./partials/_header %>
<h2> Index Page </h2>
    <ul>
  <h3> All Shortened URLs </h3>
      <% for (let key in urlDatabase){ %>
      <li>  <%= key %>  </li>
      <% } %>
       <li> 
         
        <h3> Your URL </h3>
          <span> <%= urls.shortURL %> </span>  
          <a href=" <%= urls.longURL %> "> <%= urls.longURL %> </a>
          <a href="/urls/<%= urls.shortURL %>"> Edit </a> 


          <form method="POST" action="/urls/<%= urls.longURL %>/delete" style="display: inline">
          <input type="submit" value="Delete"> 
        </form>
       </li>
       <br>
    </ul>
    <a href="/urls/new"> Shorten a new URL </a>
</body>
</html>