<% include ./partials/_header %>
<h2> Index Page </h2>
    <ul>
  <h3> All URLs </h3>
      <% for (let key in urlDatabase){ %>
      <li><a href="/u/<%= key %>"> <%= key %></a>  ----> 
        <a href="<%= urlDatabase[key].longURL %>"><%= urlDatabase[key].longURL %></a>
  
      </li>
      <% } %>
         
        <h3> Your URLs </h3>
        <% let keyArr = Object.keys(urls) %>
        <% if(keyArr.length !== 0){ %>
          <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">short URL</th>
                  <th scope="col">long URL</th>
                  <th scope="col">Total Visits</th>
                  <th scope="col">Unique Visits</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Change</th>
                </tr>
              </thead>
        <%  keyArr.forEach(function (key){ %>
            <tbody>
              <tr>
                <th scope="row"> <a href="/u/<%= key %>"> <%= key %>  </a> </th>
                <td> <a href=" <%= urls[key].longURL %> "> <%= urls[key].longURL %> </a> </td>
                <td> <%= urlDatabase[key].visit %> </td>
                <td> <%= urlDatabase[key].uniqueVisitors.length %> </td>
                <td> <%= urlDatabase[key].createdAt %> </td>
                <td>
                <button> <a href="/urls/<%= key %>"> Edit </a> </button>  
                
                <form method="POST" action="/urls/<%= key %>?_method=DELETE" style="display: inline">
                  <input type="submit" value="Delete"> 
                </form>
                </td>
                
              </tr>
              
            </tbody>
            <% }) %>
          </table>
          
          
          <% } %>
        
          <% if(!cookie.user_id){ %>
            <span> Error: Need to register or log in.</span>
            <% } %>
       <br>
       <a href="/urls/new"> Shorten a new URL </a>
    </ul>
    
</body>
</html>