<% include ./partials/_header %>
<h2> Index Page </h2>
    <ul>
  <h3> All URLs </h3>
      <% for (let key in urlDatabase){ %>
      <li><a href="/u/<%= key %>"> <%= key %></a>  ----> 
        <a href="<%= urlDatabase[key].longURL %>"><%= urlDatabase[key].longURL %></a> </li>
      <% } %>
         
        <h3> Your URL </h3>
        <% let keyArr = Object.keys(urls) %>
        <% if(keyArr.length !== 0){ %>
        <%  keyArr.forEach(function (key){ %>
          <div>
          <span> <a href="/urls/<%= key %>"><%= key %></a> ----> </span>  
          <a href=" <%= urls[key].longURL %> "> <%= urls[key].longURL %> </a>
          <button> <a href="/urls/<%= key %>"> Edit </a> </button>  
          
          <form method="POST" action="/urls/<%= key %>/delete" style="display: inline">
            <input type="submit" value="Delete"> 
          </form>
          </div>
          <% }) %>
         
          <% } %>
          <% if(!cookie.user_id){ %>
            <span> Error: Need to register or log in.</span>
            <% } %>
       <br>
       <a href="/urls/new"> Shorten a new URL </a>
    </ul>
    
</body>
</html>