<% include ./partials/_header %>
<h2> Index Page </h2>
    <ul>
  <h3> All URLs </h3>
      <% for (let key in urlDatabase){ %>
      <li><a href="/u/<%= key %>"> <%= key %></a>  ----> 
        <a href="<%= urlDatabase[key].longURL %>"><%= urlDatabase[key].longURL %></a>
  
      </li>
      <% } %>
         
        <h3> Your URL </h3>
        <% let keyArr = Object.keys(urls) %>
        <% if(keyArr.length !== 0){ %>
        <%  keyArr.forEach(function (key){ %>
          <div>
            <li>
                <a href="/u/<%= key %> "> <%= key %>  </a>
                <span>----></span>
                <a href=" <%= urls[key].longURL %> "> <%= urls[key].longURL %> </a>
                <span> Total Visits: <%= urlDatabase[key].visit %> </span>
                <span> Unique Visitors: <%= urlDatabase[key].uniqueVisitors.length %> </span>
                
                
                <button> <a href="/urls/<%= key %>"> Edit </a> </button>  
                
                <form method="POST" action="/urls/<%= key %>?_method=DELETE" style="display: inline">
                  <input type="submit" value="Delete"> 
                </form>
            </li>
         
        </div>

        <div>
          <div> Visitor Records</div>
          <% for (let visitor in urlDatabase[key].timeVisited){ %>
            <div>
              <span> <%= visitor %></span> visited on
              <span> <%= urlDatabase[key].timeVisited[visitor] %></span>
            </div>
          <% } %>
        </div>
        
          <% }) %>
         
          <% } %>
          <% if(!cookie.user_id){ %>
            <span> Error: Need to register or log in.</span>
            <% } %>
       <br>
       <a href="/urls/new"> Shorten a new URL </a>
    </ul>
    
</body>
</html>